*.swp
*.pdf
*.eps
*.png
*.jpg
*.mat
*.gif
*.out
*.lua
*.pyc
*.o
*.tar.gz
*.tfrecords

garbageCan/*
*Duplicate*
*log*
scratch/

test_architecture/experiment*
cifar10_estimator/experiment*
.ipynb_checkpoints
*.egg-info/
build/
dist/
old_cg/
scratch/
.idea/
.DS_Store
demos/cnn_experiment_dir*/
result/
demos/result-1-total-cost*/
